/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/lato-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/lato-v23-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/lato-v23-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  html {
    box-sizing: border-box;
  }
  *, *::before, *::after {
    box-sizing: inherit;

  }
  body {
font-family: 'Lato';
font-style: normal;
font-size: 16px;
line-height: 1.2;
font-weight: normal;
color: black;
  }

  /*Header*/
  .wrapper {
max-width: 1060px;
margin: 0 auto;
  }
  .header {

position: fixed;
top: 0;
left: 0;
width: 100%;
  }
  .header__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 62px;
  }
  .header__list{
    display: flex;
    flex-wrap: wrap;
  }
  .header__item{
    margin-right: 82px;
  }
  .header__item:last-child{
    margin-right: 0px;
  }
  .header__link{
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none;
  }
.header__link:hover, .header__link:focus, .header__link:active{
    opacity: 75%;
}
/*Header end*/

/*Intro start*/
.intro{
   min-height: 100vh;
    background: url(../img/intro-bg.jpg) no-repeat center;
    background-size: cover;
    padding-top: 263px;
}
.intro__tittle{
    max-width: 619px;
    font-size: 50px;
    font-weight: 500;
    line-height: 60px;
    color: white;
    margin-bottom: 22px;
}   
.intro__subtitle{
    max-width: 546px;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;  
    margin-bottom: 59px;
}

.search-form__intro{
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/

}
.search-form__field{
    width: 297px;
    background: transparent url(../img/svg/Oval.svg) no-repeat left 8px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 22px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
}
.search-form__field::placeholder{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;;
}
.search-form__submit{
    height: 58px;
    width: 171px;
    background-color: #1B7DFF;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    border: 0;
}
.search-form__submit:hover, .search-form__submit:focus, .search-form__submit:active{
    background: #0e54b1;
}



/*Intro end*/