/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/lato-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/lato-v23-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/lato-v23-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  html {
    box-sizing: border-box;
  }
  *, *::before, *::after {
    box-sizing: inherit;

  }
  body {
font-family: 'Lato';
font-style: normal;
font-size: 16px;
line-height: 1.2;
font-weight: normal;
color: black;
  }
  img {
    max-width: 100%;
    height: auto; 
}

  /*Header*/
  .wrapper {
max-width: 1060px;
margin: 0 auto;
  }
  .wrapper__full{
    max-width: 1262px;
    margin: 0 auto;
  }
  .section__title{
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    position: relative;
    padding-bottom: 10px;

  }
  .section__title::after{
    display: block;
    content: '';
    width: 253px;
    height: 3px;
    background-color: #006DFE;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .header {
position: fixed;
top: 0;
left: 0;
width: 100%;
transition: 0.2s linear;
padding-bottom: 20px;
z-index: 999;
  }
.header_active{
 background: #0E1D28;
  }
  .header__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 56px;
  }
  .header__list{
    display: flex;
    flex-wrap: wrap;
  }
  .header__item{
    margin-right: 82px;
  }
  .header__item:last-child{
    margin-right: 0px;
  }
  .header__link{
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none;
  }
.header__link:hover, .header__link:focus, .header__link:active{
    opacity: .75%;
}
/*Header end*/

/*Intro start*/
.intro{
    min-height: 100vh;
    background: url(../img/intro-bg.jpg) no-repeat center;
    background-size: cover;
    padding-top: 263px;
    padding-bottom: 323px;
}
.intro__tittle{
    max-width: 619px;
    font-size: 50px;
    font-weight: 500;
    line-height: 60px;
    color: white;
    margin-bottom: 22px;
}
.intro__subtitle{
    max-width: 546px;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;  
    margin-bottom: 59px;
}

.search-form__info{
    display: flex;
    flex-wrap: wrap;
   /* margin-bottom: 153px;*/
}
.search-form__field{
    width: 297px;
    background: transparent url(../img/svg/Oval.svg) no-repeat left 8px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 22px;
    font-weight: 500;
    font-size: 18px;
    color: white;
}
.search-form__field::placeholder{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;;
}
.search-form__submit{
    padding: 15px 39px;
    background-color: #1B7DFF;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;  
    border: 0;
}
.search-form__submit:hover, .search-form__submit:focus, .search-form__submit:active{
    background: #0e54b1;
}

/*Intro end*/

/*Benefits style*/
.benefits{
    margin-bottom: 131px; 
}
.benefits__wrap{
    max-width: 1262px; 
    background-color: #fff;
    margin: 0 auto;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
    
}
.benefits__title{
    width: 100%;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;   
    padding: 93px 100px 88px 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background-color: #fff;
}
.benefits__cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 55px;
   padding: 0 100px;

}
.benefits__card{
    grid-column: span 1;
    margin-bottom: 112px;
}
.benefits__card-pic{
    min-width: 66px;
    margin-bottom: 37px; 
}
.benefits__card-thumb{
    display: block;
}
.benefits__card-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 26px;
}
.benefits__card-desc{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 39px;
}
.benefits__card-more{
    display: inline-block;
    padding-right: 59px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    background: url(../img/svg/arrov.svg) no-repeat 95% center;
    transition: 0.2s all;

}
.benefits__card-more:hover, .benefits__card-more:focus{
    background: url(../img/svg/arrov.svg) no-repeat right center;
    opacity: .65;
}
/*end benefits style*/
/*Places start*/

.places{
    margin-bottom: 131px;
}
.places__title{
   margin-right: 15px;
}
.places__caption{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
    font-weight: 400;
  
}
.places__view-all{
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    padding-right: 59px;
    background: url(../img/svg/arrov.svg) no-repeat 95% center;
}
.places__view-all:hover, .places__view-all:focus{
    opacity: .65;
}
.places__cards{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;

}
.places__card{
    position: relative;
    overflow: hidden;
}
.places__card:hover, .places__card-pick{
    transform: scale(1.05);

}
.places__card::after{
    display: block;
    content: '';
    width: 100%;
    height: 100%;
   background-color: rgba(21, 24, 36, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;   
}


.places__card-title{
font-size: 50px;
line-height: 60px;
color: #fff;
position: absolute;
bottom: 27px;
left: 29px;
z-index: 3;
}
.places__card_size_lg{
    grid-column: span 3;
}
.places__card_size_sm{
    grid-column: span 2;
}
.places__card-pick{ 
    width: 100%;
    object-fit: cover;
    transition: .15s all;
}
.places__card-pick_size_lg{
   height: 354px;
   object-fit: cover;

}
.places__card-pick_size_sm{
    height: 283px;
    object-fit: cover;
    
}
.places__card-link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

/*Places end*/
 /*Tours start*/
.tours{
    margin-bottom: 139px;
}
.wrapper-full{
   width: 1271px;
   margin: 0 auto;
}
.tours__tour{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 108px;
    align-items: center;
    margin-bottom: 77px;
}
.tour__info{
padding-left: 47px;
}

.tour__title{
    font-weight: 500;
    font-size: 30px;
    line-height: 40px; 
    color: #102746;
    margin-bottom: 85px;
}
.tour__disc{
    max-width: 519px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #102746;
    margin-bottom: 58px;
}
.tour__more{
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    padding-right: 59px;
    background: url(../img/svg/arrov.svg) no-repeat 95% center;
    transition: 0.2s all;
}
.tour__more:hover, .tour__more:focus{
    background: url(../img/svg/arrov.svg) no-repeat right center;
    opacity: .65;
    transition: 0.2s all;
}
 /*Tours end*/
 /**/
 .top{
    margin-bottom: 86px;
 }
 .top__title{
    margin-bottom: 54px;
 }
 .top__cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 57px;
   
 }
.top__card-pick{
    position: relative;
    margin-bottom: 45px;
   
}
.top__card-stats{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    max-width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px; 
    padding: 16px 25px;
}
.top__card-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    margin: 0 auto 0 0;
    padding-right:  154px; 

}
.top__card-likes{
    font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
padding-right: 20px;
background: url(../img/svg/heart.svg) no-repeat right;
margin-right: 13px;
}
.top__card-comments{
    font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #fff;
padding-right: 20px;
background: url(../img/svg/message.svg) no-repeat right;
}
.top__card-desc{
margin-bottom: 43px;
font-weight: 400;
font-size: 16px;
line-height: 24px;
}
.top__card-more{
    padding: 12px 19px;
    background-color: #1B7DFF;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    border: 0;
    text-decoration: none;
}
.top__card-more:hover, .top__card-more:active, .top__card-more:focus{
    background: #0e54b1;
}
 /* Top places end*/

 /*Video style start*/
.videos{
    width: 100%;
    
}
.video__wrapper{
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
   
}
.video__item{
    padding-top: 56.25%;
}
.video__element{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
}
 /*Video style start end*/
 /*Footer style start*/
 .footer{ 
    background: #0E1D28;
    padding: 119px 0;
}
.footer__item{
    display: flex;
    flex-wrap: wrap;
}
.footer__logo{
    width: 50%;
}
.footer__nav{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer__menu-link-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}
.footer__menu-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
}
.footer__menu-link:hover, .footer__menu-link:focus, .footer__menu-link:active{
    opacity: .75;
}
  /*Footer style start*/
